<html>
  <head>
    <meta charset='utf-8'>
  </head>
  <body>
    <p>Hey <%= firstName %>,</p>
    <p>
      How are you doing? I'm doing well. It's been about <%= numMonthsSinceContact %> months
      since we last talked. I'm learning to code full-time at Grace Hopper Academy and enjoying 
      my time.
    </p>
    <p>
      I've been blogging about my experiences at Grace Hopper on my blog. 
      Check out my most recent posts:
      <ul>
        <% for(var i=0; i<latestPosts.length; i++) {%>
         <li><a href="<%= latestPosts[i].post_url %>"> <%= latestPosts[i].title %></a>  </li>
        <% } %>
      </ul>
    </p>
    <p>
      Talk soon,<br>
      Alex Polubiec
    </p>
  </body>
</html>